.body{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #161616, #5D1111);
    height: 287px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 94px;
}

.Smart_Gym_footer{
    display: flex;
    align-items: center;
}

.icon_smart_gym_footer{
    margin-left: 94px;
}

.titulo_smart_gym_footer{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 27px;
    padding-right: 140px;
    font-weight: bold;
}

.redes_sociais_footer{
    display: flex;
    align-items: center;
}

.icone_whatsapp_footer,
.icone_facebook_footer{
    padding-right: 30px;
}

.icone_instagram_footer{
    padding-right: 140px;
}

.inf_de_contato_footer{
    display: flex;
    flex-direction: column;
}

.endereco_icon_footer{
    size: absolute;
    height: 33px;
    width: 33px;
}

.contato_icon_footer,
.endereco_icon_footer,
.telefone_icon_footer{
    margin-right: 20px;
}

.contato_gmail,
.contato_endereco,
.contato_telefone{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.contato_endereco{
    align-items: center;
}

.contato_texto_footer,
.endereco_texto_footer,
.telefone_texto_footer{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
}

@media( max-width: 900px){
    .body{
        display: flex;
        flex-direction: column;
        height: 330px;
        width: 450px;
    }
    .titulo_smart_gym_footer{
        font-size: 25px;
        font-weight: bold;
    }
    .Smart_Gym_footer{
        padding-top: 30px;
    }
    .contato_texto_footer,
    .endereco_texto_footer,
    .telefone_texto_footer{
        font-size: 12px;
    }
    .inf_de_contato_footer{
        padding-left: 30px;
        width: 100%;
    }
    .redes_sociais_footer{
        padding-left: 30px;
    }
}