.body{
    background-color: #161616;
    height: 100%;
    width: 100%;
}
.plano_de_fundo_home{
    height: 1200px;
    width: 100%;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_home{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size : 80px;
    padding-top: 320px;
    margin-left: 10%;
}
.seja_smart_gym{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.smart_palavra{
    font-size : 80px;
    color: #DD1717;
}

.subtitulo_home{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size : 30px;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 348px;
}
.caixa_blocos{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.who_we_are{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-bottom: 145px;
}

.secao_quem_somos_nos{
    height: 325px;
    width: 650px;
    margin-right: 90px;
}

.titulo_quem_somos_nos{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size : 50px;
}

.texto_quem_somos_nos{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size : 18px;
}

.imagem_quem_somos_nos{
    height: 325px;
}

.bloco_marrom{
    margin-top: 145px;
    flex-direction: column;
    height: 320px;
    width: 345px;
    background-color: #5D1111;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.missao_bloco_1,.visao_bloco_2,.valores_bloco_3 {
    font-family: 'Poppins', sans-serif;
    height: 75%;
    width: 90%;
    color: white;
    font-size : 18px;
}

.missao_titulo,.visao_titulo,.valores_titulo {
    display: flex;
    flex-direction: row;
    color: white;
}
.mission_title,.vision_title,.values_title{
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-size : 26px;
}