.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    background-image: url(./academia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1415px;
}

.titulo {
    display: flex;
    margin-top: 6%;
    width: 97%;
    height: 5%;
    background-color: #5E1111;
}

.inputs {
    margin-top: 4%;
    width: 97%;
    height: 83%;
    background: rgba(94, 17, 17, 0.7);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 200%;
    color: #FFFFFF;
    line-height: 150%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 160%;
    color: #FFFFFF;
    line-height: 150%;
}

.textTitulo {
    margin-top: 1%;
    margin-left: 3%;
    font-weight: 700;
    line-height: 140%;
}

.dadosPessoais {
    margin-top: 2%;
    margin-left: 3%;
    font-weight: 700;
}

.linha1text, .linha2text, .linha3text, .linha4text {
    display: flex;
    flex-direction: row;
}

.linha1, .linha2, .linha4 {
    flex-direction: row;
}

.textNome, .textCPF, .textEndereco, .textCidadeEstado,
.textEmail, .textSenha, .textConfSenha {
    margin-top: 2%;
    margin-left: 3%;
}

.textIdade {
    margin-top: 2%;
    margin-left: 71.7%;
}

.textSexo {
    margin-top: 2%;
    margin-left: 49%;
}

.textTelefone {
    margin-top: 2%;
    margin-left: 36.5%;
}

.inputNome, .inputIdade, .inputCPF, .inputSexo,
.inputEndereco, .inputCidadeEstado, .inputTelefone,
.inputEmail, .inputSenha, .inputConfirmarSenha {
    margin-top: 1%;
    margin-left: 3%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 1%;
    font-size: 130%;
}

.inputNome {
    width: 75%;
}

.inputIdade {
    width: 15%;
}

.inputCPF, .inputCidadeEstado {
    width: 50%;
}

.inputSexo, .inputTelefone
 {
    width: 40%;
}

.inputEndereco {
    width: 93%;
}

.inputEmail, .inputSenha, .inputConfirmarSenha {
    width: 93%;
}

.dadosLogin {
    margin-top: 4%;
    margin-left: 3%;
}

.botao {
    margin-top: 5%;
    margin-left: 42%;
    width: 20%;
    height: 4%;
    border-radius: 45px;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1%;
}
