.container {
    display: flex;
    flex-direction: column;
    background-color: #5D1111;
    align-items: center;
    padding-top: 30px;
    margin: 20%;
    height: 300px;
    width: auto;
    /* max-width: 200px; */
}

.login-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25;
    color: #FFFFFF;
}

.formBasicEmail{
    width: 200px;
    height: 30px;
}

.form-group-pass-label {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;

  }

.form-group-email-label {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

.base{
    height: 100%;
    width: 100%;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 300px;

}

.button{
        cursor: pointer;
        border: 0;
        background-color: #161616;
        border-radius: 50px;
        font-weight: 600;
        margin: 0 10px;
        margin-top: 40px;
        width: 150px;
        padding: 10px 0;

}

.button-label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}