.body{
    background-color: #161616;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #5D1111;
    align-items: center;
    padding-top: 30px;
    margin:20%;
    height: 300px;
    width: 500px;
}

.base{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;

}