.frame {   
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    height: auto;
    align-items: center;
    justify-content: center;
 }
 
 .frameImage {
    width:50%;
    height: 80%;
 }
 
 .frameText {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 700;
 }
 
 .frameTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
    width: 100%;
 }

 
 /*style={{ width: "95%", height: "76%" }}*/