.body{
    height: 150vh;
    display: flex;
    align-items: center;
    background-color: #151515;
    width: 100%;
    flex-direction: column;
}

.marcador-pag{
    margin-top: 2%;
    display: flex;
    border-radius: 25px;
    width: 85%;
    background-color: #D9D9D9;
    height: 7%;
    align-items: center;
    margin-bottom: 10%;
}

.marcador-pagina-anterior{
    color: #151515;
    margin-left: 3%;
}

.marcador-pagina-anterior, .perfil-do-user{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.perfil-do-user{
    color: #5D1111;
    margin-left: 1%;
}

.container-dados1{
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    width: 61.8%;
    height: 40%;
    background-color: #832A2A;
    border-radius: 25px;
}

.inputNome, .inputTelefone, .inputCPF,
.inputIdade, .inputSexo, .inputCidade, .inputEndereco,
.inputEmail, .inputSenha {
    background-color: #D9D9D9;
    border-radius: 5px;
    padding-left: 1%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 60%;
    stroke: #000000;
    border-style: solid;
    border-color: #000000;
}   

.linha1text, .linha2text, .linha3text, .linha4text, .linha5text{
    width: 100%;
    display: grid;
    row-gap: 5%;
}

.bloco1, .bloco2, .bloco6, .bloco7{
    width: 40%;
    margin-right: 8%;
}

.bloco8, .bloco9{
    width: 100%;
    margin-right: 2%;
}

.bloco1, .bloco2, .bloco6, .bloco7, .bloco8, .bloco9,
.bloco3, .bloco4, .bloco5{
    height: 80%; 
}

.bloco3, .bloco4, .bloco5{
    width: 27%;
    margin-right: 4.2%;
}


.inputNome, .inputTelefone, .inputCidade,
.inputEndereco{
    width: 100%;
}

.inputEmail, .inputSenha{
    width: 90%;
}


.inputCPF, .inputIdade, .inputSexo{
    width: 95%;
}

.textNome, .textTelefone, .textCPF,
.textIdade, .textSexo, .textCidade, 
.textEndereco, .textEmail, .textSenha{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #000000;
    margin-top: 1%;
}


.linha1text, .linha2text, .linha3text,
.linha4text, .linha5text{
    display: flex;
    height: 18%;
    width: 100%;
    margin-left: 4%;
    margin-right: 8%;
    margin-bottom: 1%;
}

.linha1text{
    margin-top: 2%;
}
.linha5text{
    margin-bottom: 2%;
}

.container-exercicios{
    display: flex;
    background-color: #832A2A;
    border-radius: 25px;
    width: 61.8%;
    height: 30%;
    margin-top: 3%;
}
